:root{
--text-dark: #030e17;
--background: #e3f1fc;
--primary: #b92fb9;
--secondary: #6813d7e0;
--tertiary: #2734e7;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.ff-robo{
    font-family: Roboto !important;
}
.ff-poppins{
    font-family: Poppins !important;
}
.text_primary{
    color: var(--primary)!important;
}
.text_secondary{
    color: var(--secondary)!important;
}
.bg-gradient{
    background:linear-gradient(#e3f1fc,#e3f1fc)!important;
}
.hero{
    width: 100vw;
    height: 500px;
    background:linear-gradient(#e3f1fcb8,#e3f1fcaa),url(./Assets/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.hover:hover{
    color: var(--primary)!important;
}
.active1{
    color: var(--primary)!important;
}
.size-md{
    height: 150px;
}
@media (min-width:800px) {
    .size-md{
        height: 250px;
    }
}
.box-shadow{
    border-left: 1px solid var(--secondary);
    border-top: 1px solid var(--secondary);
    box-shadow: 2px 2px 3px 3px var(--secondary);
}
.gallery{
    display: grid;
    width: 95vw;
    margin-inline:auto ;
    grid-template-areas: 
    '1 1 2 2'
    '1 1 3 3'
    '4 4 5 5'
    '4 4 6 6'
    '7 7 8 8'
    '9 10 11 12'
    ;
}
@media (max-width:700px) {
    .gallery{
        grid-template-areas: 
    '1 2'
    '3 4'
    '5 6'
    '7 8'
    '9 10'
    '11 12'
    }   
}
@media (max-width:480px) {
    .gallery{
        grid-template-areas: 
    '1'
    '2'
    '3'
    '4'
    '5'
    '6'
    '7'
    '8'
    '9'
    '10'
    '11'
    '12'
    }   
}
.gallery:nth-child(1){
    grid-area: 1;
}
.gallery:nth-child(2){
    grid-area: 2;
}
.gallery:nth-child(3){
    grid-area: 3;
}
.gallery:nth-child(4){
    grid-area: 4;
}
.gallery:nth-child(5){
    grid-area: 5;
}
.gallery:nth-child(6){
    grid-area: 6;
}
.gallery:nth-child(7){
    grid-area: 7;
}
.gallery:nth-child(8){
    grid-area: 8;
}
.gallery:nth-child(9){
    grid-area: 9;
}
.gallery:nth-child(10){
    grid-area: 10;
}
.gallery:nth-child(11){
    grid-area: 11;
}
.gallery:nth-child(12){
    grid-area: 12;
}
.activate{
    color: white !important;
    background: #333;
    border-radius: 5px;
}
